<div class="container mt-5 mb-5 pl-5 ">
	<div class="row">
	 <form [formGroup]="form">

    <div class="form-group">
        <label for="phone-number">Phone Number</label>
        <label for="phone-number" *ngIf="!isValidPhone">Невалидный номер</label>
        
        <input class="form-control"  
              type="text"
              appPhoneMask  
              formControlName="phone" 
              id="phone-number" 
              placeholder="+7/375(xxx/xx) xxx-xx-xx"
              (focusout)="focusOutFunction()"> 
    </div>
  </form>
	</div>
</div>